{% extends 'base.html' %}
{% block title %}Welcome To Eduardo Ahumada's Website{% endblock %}

{% block content %}
    <div class="container">
      <h1>CONTACTS APP</h1>
      <br/><br/>
        <p>This is a contacts web app: to access contacts list go to the "Friends section".</p>
        <p>In the friends section use the fields and the button to add a new user. Note that:</p>
      <ul>
        <li><p><i>Name: Only letters</i></p></li>
        <li><p><i>Last name: Only letters</i></p></li>
        <li><p><i>Company: Alphanumeric</i></p></li>
        <li><p><i>Phone number: Numeric, unique</i></p></li>
        <li><p><i>Email: Alphanumeric, unique</i></p></li>
      </ul>
        <p><b>ALL FIELDS ARE REQUIRED</b></p>


    </div>
{% endblock %}
